body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
body {background-color: rgb(244, 240, 255);}
img { border-radius: 20%;}
div {text-align: center;} 