@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap')

body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
body {background-color: rgb(203, 193, 235);}
div img { border-radius: 20%;}
div {text-align: center;} 
img { border-radius: 100%;}